node_modules
.env
/dist
rreadme.md
yarn.lock
hola.csv
prisma2.rar
src/config/sqlDev
dist

#trash
controllers/apiRestController
src/controllers/apiRestController.ts
https://github.com/Joshwawo/UptoTask-w-Typescript/blob/df5d545d6288143b92664b7d58aad54c955e72bc/src/controllers/apiRestController.ts
